.project-two .outer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.project-two {
    .project-block-four {
        min-height: 470px;
        margin-right: 0;
        margin-left: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        will-change: flex;
        position: relative;
        margin-bottom: 30px;
        -webkit-transition: 0.5s cubic-bezier(0.29, 0, 0.2, 1);
        transition: 0.5s cubic-bezier(0.29, 0, 0.2, 1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background: #fff;

        &.active {
            -webkit-box-flex: 3;
            -ms-flex: 3;
            flex: 3;

            .content-box {
                display: flex;
                width: 350px;
            }

            .image-box {
                width: 358px;
                transform: scaleX(1);

                .image {
                    min-width: 358px;

                    a {
                        display: block;
                    }
                }
            }

            .content-rotate {
                span {
                    color: #050D20;
                }
            }
        }

        .content-rotate {
            padding: 43px 30px;
            cursor: pointer;

            span {
                display: inline-block;
                writing-mode: vertical-rl;
                font-size: 26px;
                line-height: 1;
                transform: rotate(180deg);
                color: rgba(5, 13, 32, 0.3);
            }
        }

        .inner-box {
            position: relative;
            overflow: hidden;
            border-radius: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }

        .all-content {
            display: flex;
            align-items: center;
        }

        .image-box {
            position: relative;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            width: 0;
            transform: scaleX(0);
            transform-origin: left top;

            .image {
                position: relative;
                margin-bottom: 0;
                transition: 0s;

                img {
                    width: 100%;
                    height: 470px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -webkit-transition: all .5s ease;
                    transition: all .5s ease;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    background: #1d1d29;
                    opacity: 0;
                    -webkit-transition: all .3s ease;
                    transition: all .5s ease;
                    z-index: 2;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 29, 41, 0)), color-stop(75%, rgba(29, 29, 41, 0.75)));
                    background: linear-gradient(to bottom, rgba(29, 29, 41, 0) 0%, rgba(29, 29, 41, 0.75) 75%);
                    -webkit-transition: all .3s ease;
                    transition: all .5s ease;
                    z-index: 2;
                }
            }
        }

        .content-box {
            height: 100%;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            z-index: 3;
            padding: 30px 40px;
            display: none;
            width: 0;
            transition: .5s;

            .number {
                font-size: 48px;
                font-weight: 500;
                margin-bottom: 48px;
                display: block;
            }

            .title {
                font-size: 22px;
                font-weight: 500;
                line-height: 1.3;
            }

            a.btn-line {
                max-width: max-content;
            }
        }

        .content-box-hover {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: end;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: end;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            text-align: center;
            z-index: 2;
            padding: 30px 30px;
        }
    }
}

.bg_image-project-two {
    background-image: url(../images/project/02.webp);
    background-repeat: no-repeat;

    .title-left-wrapper {
        * {
            color: #fff;
        }
    }
}
@media (min-width: 576px) {
    .container-small {
        max-width: 540px !important;
    }
}
@media (min-width: 768px) {
    .container-small {
        max-width: 720px !important;
    }
}
@media (min-width: 992px) {
    .container-small {
        max-width: 960px !important;
    }
}
@media (min-width: 1200px) {
    .container-small {
        max-width: 960px !important;
    }
}
@media (min-width: 1400px) {
    .container-small {
        max-width: 1071px !important;
    }
}
.container-small {
    max-width: 1071px;
    margin: auto;
    padding: 0 15px;
}

.bottom-information-project-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    @media #{$mdsm-layout} {
        flex-wrap: wrap;
    }
    .single-information {
        background: #FFFFFF;
        border: 1px solid #EAF0FF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width: 100%;
        padding: 12px 30px;
        transition: .3s;
        @media #{$mdsm-layout} {
            width: 49%;
        }
        @media #{$sm-layout} {
            width: 48%;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        span {
            font-size: 16px;
        }

        &:hover {
            transform: translateY(-5px) scale(1.05);
        }
    }
}

.project-details-container {
    max-width: 740px;
    margin: 0;
    padding: 0 15px;
}
.project-details-container-degital-agency {
    max-width: 1070px;
    margin: auto;
    padding: 0 15px;
}

.project-details-content-wrapper {
    .title-left-wrapper {
        .title {
            font-size: 32px;
        }
    }

    p.disc {
        margin-bottom: 20px;

        span {
            font-weight: 600;
            color: #000;
        }

        &:last-child {
            margin-bottom: 40px;
        }

        &.mb--30 {
            margin-bottom: 30px;
        }
    }

    .image-wrapper-top {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

.project-detials-problems-wrapper {
    .single-problems {
        margin-top: 30px;

        .top-title-area {
            display: flex;
            align-items: flex-start;
            gap: 10px;

            span {
                font-size: 16px;
                height: 28px;
                width: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: var(--color-primary);
                color: #fff;
            }

            .title {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

.project-two{
    .title-area-between{
        .right-area{
            .btn-line{
                color: #fff;
                &::after{
                    transition: .3s;
                    background: #fff;
                }
            }
        }
    }
}

.single-project-area-digital-agency{
    .thumbnail{
        overflow: hidden;
        display: block;
        margin-bottom: 30px;
        img{
            width: 100%;
            transition: .4s;
        }
    }
    .inner-content{
        display: flex;
        align-items: flex-start;
        gap: 64px;
        .left-area{
            .title{
                font-size: 34px;
                @media #{$large-mobile} {
                    font-size: 26px;
                    line-height: 1.4;
                }
            }
            .tags-wrapper{
                display: flex;
                align-items: center;
                gap: 6px;
                .single-tags{
                    border: 1px solid #DFDBF9;
                    padding: 1px 15px;
                    border-radius: 33px;
                    color: #0C1018;
                    @media #{$large-mobile} {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &:hover{
        .thumbnail{
            img{
                transform: scale(1.2);
            }
        }
    }
}