@media(max-width:1900px) and (min-width:1600px){
    .marquee .marquee__item .main--wrapper-tt .single-inner-marquree{
        flex: 0 0 80%;
    }
    .thumbnail-security-area-right{
        padding-left: 70px;
    }
    .thumbnail-security-area-right .thumbnail{
        margin-right: -100px;
    }
    .thumbnail-security-area-right .right-top-area{
        right: -130px;
        top: -40px;
    }
    .thumbnail-security-area-right .left-bottom{
        left: 7%;
        bottom: -2%;
    }
}
@media(max-width:1600px){
    .our-vission.area-4 .floating-div{
        width: 105%;
    }
    .our-vission.area-4 .our-vision-right-content{
        align-items: center;
        gap: 20px;
        padding-right: 15px;
    }
    .our-vision-right-content .check-main-wrapper {
        margin-bottom: 30px;
    }
    .our-vision-right-content p.disc {
        margin-bottom: 20px;
    }
    .our-vission.area-4 .our-vision-right-content .content-area{
        padding: 0;
    }
    .thumbnail-security-area-right .thumbnail{
        margin-right: -100px;
    }
    .thumbnail-security-area-right .left-bottom{
        left: 13%;
        bottom: -4%;
    }
    .thumbnail-security-area-right .right-top-area{
        right: -22%;
        top: -12.5%;
    }
    .marquee .marquee__item .main--wrapper-tt .single-inner-marquree{
        flex: 0 0 88%;
    }
    .rts-banner-area-start-machine .hero-area{
        right: -10%;
    }
    .thumbnail-security-area-right{
        padding-left: 50px;
    }
    .thumbnail-security-area-right .thumbnail{
        margin-right: 0;
    }
    .thumbnail-security-area-right .right-top-area{
        right: -50px;
        top: -65px;
    }
    .thumbnail-security-area-right .left-bottom{
        left: 0;
        bottom: -6%;
    }
}
@media(max-width:1400px){
    .rts-banner-area-four .right-content-area {
        margin-left: 40px;
    }
    .about-area-inner-four .left-logo-content {
        flex-basis: 50%;
    }
    .about-content-style-four .title-left-wrapper .title{
        font-size: 42px;
    }
    .our-vission.area-4 .our-vision-right-content{
        gap: 20px;
        border: none;
    }
    .rts-facilities-area.area-4 .facilities-area-left .title-left-wrapper .title{
        font-size: 42px;
    }
    .single-blog-style-one .inner-content-blog .title{
        font-size: 20px;
        line-height: 30px;
    }
    .rts-about-breadcrumb-area.demo-4 .rts-about-breadcrumb-content .title {
        font-size: 46px;
    }
    .digital-agency-content-inner-wrapper .title{
        font-size: 100px;
    }
    .thumbnail-security-area-right{
        padding-left: 50px;
    }
    .thumbnail-right-about-cyber .content .title,
    .cyber-security-about-left .bottom-iamge .content .title{
        font-size: 72px;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-item .accordion-body {
        padding-left: 21%;
    }
    .ai-platform-wrapper .right-img img{
        width: 100%;
        max-width: max-content;
    }
    .demo-machine-learning .rts-product-area.bg_light .stok-text .title{
        font-size: 142px;
    }
    .testimonials-area-machine-wrapper .single-testimonials-area{
        gap: 50px;
    }
    .rts-feature-main-wrapper-data{
        padding: 90px 50px;
    }
    .rts-banner-marketing-automation .banner-content-two-style .title{
        font-size: 58px;
    }
    .rts-banner-saas-landing .banner-content-two-style .title{
        font-size: 64px;
    }
    .rts-banner-saas-landing .shape-area img:nth-child(1){
        left: 8%;
    }
    .rts-banner-saas-landing .shape-area img:nth-child(2){
        right: 10%;
    }
    .rts-banner-saas-landing .shape-area img:nth-child(3){
        right: 25%;
    }
    .rts-feature-area-three.saas-landing .section-inner{
        padding: 8%;
    }
}
@media(max-width:1400px) and (min-width:1200px){
    .rts-banner-area-four .banner-content-two-style h1{
        font-size: 46px;
    }
    .faq-left-area-main .title-left-wrapper .title,
    .our-vision-right-content .title-left-wrapper .title,
    .rts-work-process-area .work-process-content .title-left-wrapper .title{
        font-size: 42px;
    }
    .single-pricing-wrapper-three{
        padding: 26px 18px;
    }
    .single-pricing-wrapper-three .bottom-area .list-area ul li{
        font-size: 14px;
    }
    .banner-content-cyber-security .title{
        font-size: 48px;
    }
    .banner-content-cyber-security .brand-area-bottom .brand-banner-7{
        width: 280px;
    }
    .thumbnail-security-area-right .left-bottom{
        left: -3%;
        bottom: -9%;
    }
    .thumbnail-security-area-right .right-top-area{
        right: -14%;
        top: -95px;
    }
    .thumbnail-right-about-cyber .content{
        left: 25px;
        top: 25px;
    }
    .about-our-company-area-cyber{
        padding: 80px 50px;
    }
    .machine-learning-content-banner .title{
        font-size: 62px;
    }
    .rts-banner-area-start-machine .hero-area{
        max-width: 70%;
    }
    .about-three-wrapper.marketing .about-nav-area .nav-tabs .nav-item button span{
        font-size: 30px;
    }
}
@media(max-width:1200px){
    .about-content-style-four{
        margin-top: 50px;
    }
    .our-vission.area-4 .our-vision-left-content{
        max-width: 100%;
        margin-bottom: 50px;
        .disc{
            max-width: 500px;
        }
    }
    .rts-facilities-area.area-4 .thumbnail-area-facilities{
        padding: 30px;
    }
    .rts-pricing-area .title-left-wrapper .title br,
    .mySwiper-testimonials-three .swiper-button-prev,
    .mySwiper-testimonials-three .swiper-button-next{
        display: none;
    }
    .accordon-pricing-wrapper-three{
        max-width: 100%;
    }
    .digital-agency-content-inner-wrapper .title{
        font-size: 80px;
    }
    .thumbnail-security-area-right{
        padding-left: 0;
        margin-bottom: 50px;
        max-width: max-content;
    }
    .thumbnail-security-area-right .thumbnail{
        margin-right: 0;
        max-width: max-content;
    }
    .thumbnail-security-area-right .right-top-area{
        top: 0;
        right: 0;
    }
    .thumbnail-security-area-right .left-bottom{
        left: 0;
        bottom: 0;
    }
    .order-lg-change{
        order: -1;
    }
    .banner-area-cyber-security{
        height: auto;
        padding: 80px 0;
    }
    .banner-content-cyber-security .brand-area-bottom {
        margin-top: 40px;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-item .accordion-body {
        padding-left: 25%;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-header button br{
        display: none;
    }
    .accordion-faq-one.in-working-process .accordion-item .accordion-button span {
        margin-right: 115px;
        flex-basis: 15%;
    }
    .about-our-company-area-cyber{
        padding: 80px 50px;
    }
    .about-our-company-area-cyber .left-area-about{
        flex-basis: 55%;
    }
    .about-our-company-area-cyber .right-are{
        flex-basis: 40%;
    }
    .single-service-wrapper-machine .content .title{
        font-size: 20px;
    }
    .demo-machine-learning .rts-product-area.bg_light .stok-text .title{
        font-size: 120px;
    }
    .pricing-wrapper-machine span.badge{
        top: 0;
    }
    .rts-banner-area-start-machine .hero-area{
        position: unset;
        margin-bottom: 40px;
    }
    .lg_order-change{
        order: 2;
    }
    .rts-banner-area-start-machine {
        height: auto;
        padding-bottom: 150px;
    }
    .marquee .marquee__item .main--wrapper-tt .single-inner-marquree h2  {
        font-size: 115px;
    }
    .funfacts-area-counter-up-mission{
        gap: 30px;
    }
    .single-vision-mission-area .right-content-area .mission-counter-area{
        gap: 30px;
    }
    .pl_lg--0{
        padding-left: 0;
    }
    .pt_lg--50{
        padding-top: 50px;
    }
    .menu-btn-toggle {
        display: block;
    }
    .rts-banner-saas-landing .shape-area img:nth-child(1) {
        left: 6%;
        top: 35%;
    }
    .rts-trusted-brand-area.saas-landing{
        padding-top: 220px;
    }
}
@media(max-width:1200px) and (min-width:992px){
    .single-blog-style-one .inner-content-blog .title{
        font-size: 18px;
    }
    .rts-about-breadcrumb-area.demo-4 .rts-about-breadcrumb-content .title {
        font-size: 36px;
        line-height: 1.3;
    }
    .rts-work-process-area .work-process-content .title-left-wrapper .title{
        font-size: 32px;
    }
    .single-working-process-area {
        padding: 40px 30px;
        .title{
            font-size: 20px;
        }
    }
    .about-content-style-one .title-left-wrapper .title{
        font-size: 36px;
    }
    .about-content-style-one .quote-and-review-area .quote-area {
        flex-basis: 55%;
    }
    .about-content-style-one .quote-and-review-area .review-area{
        flex-basis: 45%;
    }
    .faq-left-area-main .title-left-wrapper .title,
    .our-vision-right-content .title-left-wrapper .title{
        font-size: 36px;
    }
    .about-cybar-mid .title-area-between .title-left-wrapper .title{
        font-size: 36px;
    }
    .cyber-security-about-left .bottom-iamge .content{
        left: 25px;
        top: 15px;
    }
    .thumbnail-right-about-cyber .content{
        left: 25px;
        top: 25px;
    }
    .bg_dark-blue .title-left-wrapper .title{
        font-size: 32px;
    }
    .about-our-company-area-cyber .left-area-about .title{
        font-size: 42px;
    }
    .about-our-company-area-cyber .right-are .single-items h5{
        font-size: 22px;
    }
    .contact-area-left-wrapper-cyber .title-left-wrapper .title{
        font-size: 36px;
        br{
            display: none;
        }
    } 
    .single-service-wrapper-machine .content {
        left: 20px;
        bottom: 25px;
    }
    .ai-platform-wrapper .left-wrapper .title {
        font-size: 42px;
    }
    .ai-platform-single-card{
        padding: 60px 35px;
    }
    .working-process-three-main .working-process-wrapper-three .title{
        font-size: 19px;
    }
    .banner-content-left-data-science .title{
        font-size: 62px;
        line-height: 70px;
        img{
            width: 260px;
        }
    }
    .single-service-style-one a .title{
        font-size: 20px;
    }
    .about-three-wrapper.marketing .about-nav-area .nav-tabs .nav-item button span{
        gap: 15px;
        font-size: 25px;
    }
    .vision-left-main-image.marketing .board{
        max-width: 200px;
    }
}
@media(max-width:991px){
    .rts-banner-area-four .banner-content-two-style h1 {
        font-size: 54px;
    }
    .rts-banner-area-four .right-content-area{
        margin-left: 0;
    }
    .about-content-style-four .title-left-wrapper .title{
        font-size: 36px;
        line-height: 1.3;
        br{
            display: none;
        }
    }
    .our-vission.area-4 .our-vision-right-content{
        flex-direction: column;
        align-items: flex-start;
        .image-area{
            img{
                width: 100%;
                border-radius: 20px;
            }
        }
    }
    .our-vission.area-4 .our-vision-right-content .content-area {
        max-width: 100%;
        margin-top: 30px;
    }
    .product-wrapper .inner{
        flex-direction: column;
        padding: 40px;
        align-items: flex-start;
        .image-area{
            order: -1;
        }
    }
    .single-testimonails-three{
        flex-direction: column;
        gap: 50px;
        align-items: start;
    }
    .single-testimonails-three .left-thumbnmail .small-image{
        left: 10px;
        bottom: -40px;
    }
    .rts-cta-area .cta-inner{
        gap: 10px;
    }
    .rts-cta-area .cta-inner .image-area .float-image {
        left: -15%;
    }
    .rts-cta-area .cta-inner .content-area .title-left-wrapper .title {
        font-size: 36px;
    }
    .rts-about-breadcrumb-image img{
        width: 100%;
    }
    .rts-story-area.demo-4 .section-inner .title,
    .rts-mission-area.demo-4 .section-inner .title {
        flex-basis: 35%;
    }
    .rts-story-area.demo-4 .section-inner .disc,
    .rts-mission-area.demo-4 .section-inner .disc {
        flex-basis: 65%;
    }
    .rts-pricing-area.inner .pricing-wrapper-four{
        padding: 40px 30px;
    }
    .contact-area-two .left-content .title br{
        display: none;
    }
    .contact-form-two .single-input-wrapper .single-input{
        width: 49%;
    }
    .digital-agency-content-inner-wrapper .title{
        font-size: 54px;
    }
    .digital-agency-content-inner-wrapper .title .stock{
        padding-left: 200px;
    }
    .digital-agency-content-inner-wrapper .title .stock::after{
        width: 150px;
    }
    .digital-agency-content-inner-wrapper .title .last img{
        right: -120px;
    }
    .single-digital-agency-wrapper-service{
        flex-direction: column;
        align-items: self-start;
    }
    .single-digital-agency-wrapper-service .right-area{
        flex-basis: 100%;
        width: 100%;
    }
    .thumbnail-security-area-right .right-top-area {
        top: -5%;
        right: -2%;
    }
    .thumbnail-security-area-right .left-bottom{
        left: -2%;
    }
    .order-change-2{
        order: 2;
    }
    .about-cybar-mid{
        margin-top: 50px;
    }
    .accordion-faq-one.in-working-process .accordion-item .accordion-button span{
        margin-right: 40px;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-item .accordion-body {
        padding-left: 19%;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-header button{
        font-size: 28px;
    }
    .bg_dark-blue .title-left-wrapper{
        margin-bottom: 50px;
    }
    .about-cyber-security-wrapper .title{
        font-size: 42px;
    }
    .about-our-company-area-cyber{
        flex-direction: column;
        gap: 40px;
        align-items: self-start;
    }
    .about-our-company-area-cyber .right-are{
        width: 100%;
    }
    .single-service-wrapper-machine .content .title br{
        display: none;
    }
    .single-service-wrapper-machine .content {
        left: 20px;
        bottom: 30px;
    }
    .ai-platform-wrapper{
        flex-direction: column;
        align-items: self-start;
    }
    .demo-machine-learning .rts-product-area.bg_light .stok-text .title{
        font-size: 90px;
    }
    .testimonials-area-machine-wrapper .single-testimonials-area{
        flex-direction: column;
        align-items: self-start;
    }
    .thumbnail-plunning-service-detials img{
        width: 100%;
    }
    .rts-banner-data-science{
        height: auto;
    }
    .thumbnail-banner-right-data .thumbnail{
        margin-right: 0;
    }
    .rts-story-area.demo-4 .section-inner{
        flex-direction: column;
        gap: 20px;
    }
    .funfacts-area-counter-up-mission .single-funfacts-area-counter-up-mission .icon{
        max-width: 50px;
        min-width: auto;
    }
    .about-card-style-one .thumbnail img{
        width: 100%;
    }
    .single-vision-mission-area{
        flex-direction: column;
        align-items: self-start;
        gap: 25px;
        margin-bottom: 50px;
    }
    .single-vision-mission-area .left-title-varticle-area{
        transform: none;
        writing-mode: unset;
        padding: 25px 50px;
    }
    .pricing-wrapper-machine{
        padding: 40px 20px;
    }
    .rts-cta-area .cta-inner .image-area{
        order: -1;
        margin-bottom: 0;
    }
    .rts-cta-area .cta-inner{
        flex-direction: column;
        gap: 30px;
        padding: 40px;
    }
    .rts-facilities-area.area-4 .thumbnail-area-facilities{
        margin-right: 0;
    }
    .onepage header .nav-area{
        display: none !important;
    }
    .about-three-wrapper.marketing .about-nav-area .nav-tabs{
        margin-bottom: 30px;
        gap: 15px;
    }
    .vision-left-main-image.marketing .thumbnail-vision img{
        width: 100%;
    }
    .rts-banner-saas-landing .shape-area{
        display: none;
    }
    .rts-banner-saas-landing{
        height: auto;
        padding-bottom: 60px;
    }
    .rts-banner-saas-landing .bg-shape img.shape-02 {
        left: 0%;
        height: 100%;
        object-fit: cover;
    }
    .rts-trusted-brand-area.saas-landing{
        padding-top: 80px;
    }
    .rts-keyfeature-area.saas-landing .section-inner .content-area{
        flex-direction: column;
        align-items: self-start;
        .thumbnail-feature-cyber{
            img{
                width: 100%;
            }
        }
    }
}

@media(max-width:991px) and (min-width:768px) {
    .single-service-style-four{
        padding: 30px 20px;
    }
    .single-service-style-four .title{
        font-size: 16px;
    }
}

@media(max-width:768px) {
    .rts-banner-area-four .banner-content-two-style h1{
        font-size: 48px;
    }
    .about-content-style-four .title-left-wrapper .title{
        span{
            img{
                width: 120px;
            }
        }
    }
    .about-area-inner-four{
        flex-direction: column;
    }
    .about-area-inner-four .image-area{
        order: -1;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .about-area-inner-four .left-logo-content{
        margin-top: 50px;
    }
    .single-service-style-four{
        padding: 25px 20px;
    }
    .rts-cta-area .cta-inner .content-area .button-area{
        justify-content: center;
    }
    .rts-story-area.demo-4 .section-inner,
    .rts-mission-area.demo-4 .section-inner {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .contact-form-style-one .single-input-wrapper{
        flex-direction: column;
    }
    .contact-form-style-one .single-input-wrapper .single-input{
        width: 100%;
    }
    .why-choose-iamge-two{
        flex-direction: column;
        margin-top: 30px;
        img{
            width: 100%;
        }
    }
    .digital-agency-content-inner-wrapper .title{
        font-size: 42px;
    }
    .digital-agency-content-inner-wrapper .title .stock{
        padding-left: 150px;
    }
    .digital-agency-content-inner-wrapper .title .stock::after{
        width: 120px;
    }
    .digital-agency-content-inner-wrapper .title .last img{
        right: -100px;
    }
    .testimonials-area-main-wrapper-agency .swiper-button-prev{
        right: 10%;
        bottom: 5%;
    }
    .testimonials-area-main-wrapper-agency .swiper-button-next{
        right: 5%;
        bottom: 5%;
    }
    .rts-blog-area .title-area-between{
        flex-direction: column;
        gap: 30px;
        align-items: self-start;
    }
    .floating-div{
        width: 100%;
    }
    .thumbnail-security-area-right .right-top-area {
        top: -2%;
        right: -14%;
        height: auto;
        .bottom{
            display: none;
        }
    }
    .thumbnail-security-area-right .left-bottom{
        left: -12.5%;
        bottom: -8%;
    }
    .banner-content-cyber-security .title{
        font-size: 48px;
    }
    .banner-content-cyber-security {
        margin-right: 0;
    }
    .banner-content-cyber-security .brand-area-bottom .brand-banner-7{
        width: 225px;
    }
    .float-div-right{
        width: 100%;
    }
    .thumbnail-right-about-cyber .content{
        left: 20px;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-header button{
        font-size: 20px;
    }
    .about-cyber-security-wrapper .title{
        font-size: 32px;
    }
    .machine-learning-content-banner .title{
        font-size: 60px;
    }
    .machine-learning-content-banner .title span{
        font-size: 50px;
    }
    .rts-banner-area-start-machine{
        height: auto;
        padding: 80px 0 120px;
    }
    .ai-platform-wrapper{
        padding: 60px 40px;
    }
    .ai-platform-wrapper .left-wrapper .title{
        font-size: 36px;
    }
    .demo-machine-learning .rts-product-area.bg_light .stok-text .title{
        font-size: 70px;
    }
    .process-style-machine .thumbnail img{
        width: 100%;
    }
    .fun-facts-area-wrapper-machine{
        flex-wrap: wrap;
        gap: 30px;
    }
    .rts-cta-main-wrapper-machine .title{
        font-size: 32px;
        line-height: 1.3;
    }
    .banner-content-left-data-science .title{
        font-size: 72px;
    }
    .rts-story-area.demo-4 .funfacts-area-counter-up-mission{
        justify-content: start;
    }
    .rts-banner-marketing-automation .banner-content-two-style .title{
        font-size: 42px;
        line-height: 1.2;
    }
    .about-three-wrapper.marketing .about-nav-area .nav-tabs .nav-item button span{
        font-size: 32px;
        gap: 20px;
    }
    .vision-left-main-image .board{
        right: -20px;
    }
    .rts-banner-saas-landing .banner-content-two-style .title{
        font-size: 46px;
    }
    .brand-area-wrapper-app-development .title{
        font-size: 28px;
    }
    .rts-keyfeature-area.saas-landing .section-inner .content-area .cyber-security-feature-right .top-thumbnail-area{
        flex-direction: column;
        .thumbnail-single img{
            width: 100%;
        }
    }
    .rts-keyfeature-area.saas-landing .section-inner .content-area .cyber-security-feature-right .bottom-thumbnail-area{
        flex-direction: column;
        .thumbnail-single img{
            width: 100%;
        }
    }
}
@media(max-width:768px) and (min-width:576px) {

}
@media(max-width:576px) {
    .demo-software-company header.header-one.header-relative .button-wrapper-flex .btn-primary{
        display: none;
    }
    .rts-banner-area-four .banner-content-two-style h1{
        font-size: 36px;
        line-height: 1.3;
        span{
            img{
                &.one{
                    width: 100px;
                } 
                &.two{
                    width: 200px;
                } 
            }
        }
    }
    .product-wrapper .inner{
        padding: 30px;
    }
    .product-wrapper .inner .left-content .title {
        font-size: 28px;
    }
    .product-wrapper .inner .left-content .tags{
        margin-top: 30px;
    }
    .bottom-information-project-details .single-information{
        width: 100%;
    }
    .banner-style-one-wrapper-inner .title{
        font-size: 42px;
    }
    .header-one .button-wrapper-flex{
        gap: 30px;
    }
    .header-one .button-wrapper-flex .rts-btn{
        display: none;
    }
    .about-content-style-one .quote-and-review-area{
        flex-direction: column;
        align-items: start;
    }
    .about-content-style-one .quote-and-review-area .quote-area{
        border-bottom: 1px solid #D9D9D9;
        border-right: 0;
    }
    .about-content-style-one .quote-and-review-area .review-area{
        padding: 40px 0;
    }
    .rts-achivment-area .title-center-wrapper .title br{
        display: none;
    }
    .footer-wized-wrapper .single{
        width: 45%;
    }
    .contact-form-two .single-input-wrapper{
        flex-direction: column;
        .single-input{
            width: 100%;
        }
    }
    .digital-agency-content-inner-wrapper .title .stock{
        padding-left: 85px;
    }
    .digital-agency-content-inner-wrapper .title .stock::after{
        width: 75px;
    }
    .digital-agency-content-inner-wrapper .title{
        font-size: 38px;
    }
    .thumbnail-security-area-right .right-top-area {
        display: none;
    }
    .thumbnail-security-area-right .left-bottom{
        display: none;
    }
    .banner-content-cyber-security .title{
        font-size: 36px;
    }
    .banner-content-cyber-security .brand-area-bottom{
        flex-direction: column;
        align-items: start;
    }
    .banner-content-cyber-security .brand-area-bottom .brand-banner-7{
        width: 100%;
    }
    .cyber-security-about-left,
    .thumbnail-right-about-cyber{
        display: none;
    }
    .cyber-security-feature-right .top-thumbnail-area,
    .cyber-security-feature-right .bottom-thumbnail-area{
        flex-direction: column;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-item .accordion-body{
        padding-left: 0;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-header button{
        flex-direction: column;
        align-items: self-start;
        gap: 20px;
    }
    .accordion-faq-one.in-working-process.in-case-cyber .accordion-header button::after{
        position: absolute;
        top: 100px;
        right: 0;
    }
    .single-pricing-list-area{
        flex-direction: column;
        gap: 30px;
    }
    .about-cyber-security-wrapper .title{
        font-size: 26px;
    }
    .machine-learning-content-banner .title{
        font-size: 48px;
    }
    .machine-learning-content-banner .title span{
        font-size: 40px;
    }
    .ai-platform-wrapper .left-wrapper .title{
        font-size: 30px;
    }
    .demo-machine-learning .rts-product-area.bg_light .stok-text .title{
        font-size: 56px;
    }
    .marquee .marquee__item .main--wrapper-tt .single-inner-marquree h2{
        font-size: 72px;
    }
    .rts-cta-main-wrapper-machine .title{
        br{
            display: none;
        }
    }
    .testimonials-area-machine-wrapper .single-testimonials-area .thumbnail{
        min-width: 100%;
    }
    .banner-content-left-data-science .title{
        font-size: 56px;
        line-height: 1.2;
        img{
            width: 225px;
        }
    }
    .rts-banner-marketing-automation .banner-content-two-style .title{
        font-size: 36px;
    }
    .rts-banner-marketing-automation{
        padding: 50px 0 100px;
    }
    .marquree-main-wrapper-1{
        padding: 15px 0;
    }
    .about-three-wrapper.marketing .about-nav-area .nav-tabs .nav-item button span{
        font-size: 28px;
    }
    .vision-left-main-image .board{
        display: none;
    }
    .cyber-secyrity-contact{
        padding: 40px 30px;
    }
    .rts-banner-saas-landing .banner-content-two-style .title{
        font-size: 36px;
    }
    .rts-keyfeature-area.saas-landing .title-center-wrapper .title{
        br{
            display: none;
        }
    }
    .rts-keyfeature-area.saas-landing .section-inner{
        padding: 9% 5%;
    }
}
@media(max-width:576px) and (min-width:450px) {

}
@media(max-width:450px) {
    .rts-banner-area-four .banner-content-two-style h1{
        font-size: 28px;
    }
    .rts-banner-area-four .right-content-area .bottom{
        align-items: flex-end;
        .customer-review-area{
            flex-direction: column;
        } 
    }
    .about-content-style-four .author-area {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .rts-faq-area.area-4 .accordion .accordion-item {
        padding: 20px;
    }
    .rts-cta-area .cta-inner .image-area .float-image {
        left: 0;
    }
    .rts-blog-area .title-center-wrapper .disc{
        br{
            display: none;
        }
    }
    .fun-facts-main-wrapper .funfacts-bottom-area .mid-area .title{
        font-size: 24px;
    }
    .fun-facts-main-wrapper .top-fun-facts .title {
        font-size: 28px;
    }
    .digital-agency-content-inner-wrapper .title{
        font-size: 28px;
    }
    .digital-agency-content-inner-wrapper .title .last img{
        right: -70px;
    }
    .banner-content-cyber-security .title{
        font-size: 32px;
    }
    .accordon-pricing-wrapper-three .accordion-item .accordion-header .accordion-button::after{
        font-size: 16px;
    }
    .accordon-pricing-wrapper-three.full-width .accordion-item{
        padding: 25px 21px;
    }
    .rts-service-details-breadcrumb-area .breadcrumb-area h1{
        font-size: 28px;
    }
    .machine-learning-content-banner .title{
        font-size: 36px;
    }
    .machine-learning-content-banner .title span{
        font-size: 32px;
    }
    .machine-learning-content-banner .button-wrapper{
        gap: 20px;
        flex-direction: column;
        align-items: self-start;
    }
    .single-why-choose-wrapper-machine .signle-why-choose{
        flex-direction: column;
    }
    .ai-platform-wrapper {
        padding: 50px 30px;
    }
    .ai-platform-wrapper .left-wrapper .title{
        font-size: 24px;
    }
    .ai-platform-single-card{
        padding: 50px 30px;
    }
    .demo-machine-learning .rts-product-area.bg_light .stok-text .title{
        font-size: 42px;
    }
    .testimonials-area-machine-wrapper .single-testimonials-area .content .top-head .title{
        font-size: 42px;
    }
    .testimonials-area-machine-wrapper .single-testimonials-area .content .body p.disc{
        font-size: 18px;
    }
    .fun-facts-area-wrapper-machine{
        padding: 50px 30px;
    }
    .rts-cta-main-wrapper-machine{
        padding: 60px 35px;
    }
    .banner-content-left-data-science .title{
        font-size: 42px;
        line-height: 1.2;
        img{
            width: 200px;
        }
    }
    .demo-data-science .rts-btn.with-arrow{
        padding: 12px 15px;
    }
    .about-three-wrapper.marketing .about-nav-area .nav-tabs .nav-item button span{
        font-size: 20px;
        gap: 15px;
    }
    .rts-banner-saas-landing{
        padding-top: 125px;
    }
    .brand-area-wrapper-app-development .title{
        font-size: 22px;
    }
}